<template>
    <div>
  <b-nav tabs >
    <b-nav-item disabled>Fancy quiz app</b-nav-item>
    <b-nav-item disabled>Counter {{counter}}/{{numTotal}}</b-nav-item>
    <br>
  </b-nav>
</div>
</template>

<script>
export default {
  props:{
    counter:Number,
    numTotal:Number
  }
}
</script>