<template>
    <div>
        <b-jumbotron >   
            <template v-slot:lead>
            {{currentQuestion.question}}
            </template>

            <hr class="my-4">

                <b-list-group>
                    <b-list-group-item
                    v-for="(answer,index) in shuffledAnswers" 
                    :key="index" 
                    @click.prevent="selectedAnswer(index)"
                    :class="answerClass(index)"
                    >{{ answer }}
                    </b-list-group-item>  
                </b-list-group>
                
            <b-button 
            variant="primary" 
            @click="submitAnswer"
            :disabled="selectedIndex===null || answered===true"
            >Submit</b-button>

            <b-button 
            variant="success" 
            @click="next"
            :disabled="selectedIndex===null || answered"
             >Next</b-button>
        </b-jumbotron> 
    </div> 
</template>

<script>

import array from 'lodash';
export default {
    props:{
        currentQuestion:Object,
        next:Function,
        increment: Function
    },
    computed:{
        answers(){
            let answers = [...this.currentQuestion.incorrect_answers];
            answers.push(this.currentQuestion.correct_answer)
            return answers
        }
    },
    data:function(){
        return {
            selectedIndex:null,
            correctIndex:null,
            shuffledAnswers:[],
            answered:false
        }        
    },

    methods:{
        selectedAnswer(index){
            this.selectedIndex = index;
            this.answersed = true;
        },
        shuffleAnswers(){
            let answers = [...this.currentQuestion.incorrect_answers, this.currentQuestion.correct_answer];
            this.shuffledAnswers = array.shuffle(answers);
            this.correctIndex = this.shuffledAnswers.indexOf(this.currentQuestion.correct_answer)
        },
        submitAnswer(){
            var isCorrect = false;
            if(this.shuffledAnswers[this.selectedIndex] === this.currentQuestion.correct_answer ){
                isCorrect = true;
            }
            this.increment(isCorrect);
            //this.next();
        },

        // answerClass(index){
        //     let answeredclass='';
        //    if(!this.answered && this.selectedIndex === index){
        //         answeredclass = 'selected';
        //     } else if (this.answered && this.correctIndex === index){
        //         answeredclass = 'correct';
        //     } else if (this.answered && this.correctIndex !== index){
        //         answeredclass = 'incorrect';
        //     }
        //     return answeredclass;                  
        // }

        answerClass(index) {
      let answerClass = ''

      if (!this.answered && this.selectedIndex === index) {
        answerClass = 'selected'
      } else if (this.answered && this.correctIndex === index) {
        answerClass = 'correct'
      } else if (this.answered &&
        this.selectedIndex === index &&
        this.correctIndex !== index
      ) {
        answerClass = 'incorrect'
      }

      return answerClass
    }

    },

    watch:{
        currentQuestion:{
            immediate:true,
            handler(){
            this.selectedIndex = null;
            this.shuffleAnswers()
            }
        }
    }
}
</script>

<style scoped>
.list-group {
  margin-bottom: 15px;
}

.list-group-item:hover {
  background: #EEE;
  cursor: pointer;
}

.btn {
  margin: 0 5px;
}

.selected {
  background-color: lightblue;
}

.correct {
  background-color: lightgreen;
}

.incorrect {
  background-color: red;
}
</style>
